rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow create, read, update, delete: if request.auth.uid == userId;
      allow create, read: if request.auth.uid == 'sZEB6laBrURhjpFFt7nNHpTdjbr1';
    }
    match /feedbacks/{feedbackId} {
      allow create, read: if request.auth.uid == 'sZEB6laBrURhjpFFt7nNHpTdjbr1';
    }
  }
}